{% extends "/email_templates/layout.jinja2" %}
{% block page_title %}{{ _('Password renewal request!') }}{% endblock %}
{% block content %}
    <p>We received a request to create a new password for your account.</p>
    <p>You can generate it by clicking following URL:</p>
    <p>
        <a href="{{ request.route_url('lost_password_generate', _query=(('security_code',user.security_code,),('user_name',user.user_name,)), _app_url=_mail_url) }}">
            {{ request.route_url('lost_password_generate', _query=(('security_code',user.security_code,),('user_name',user.user_name,)),_app_url=_mail_url) }}
        </a>
    </p>
    <p>This link expires in 10 minutes from generation time.</p>
    <p>If you didn't request new password please ignore this email.</p>
{% endblock %}