<ng-include src="'templates/loader.html'" ng-if="$ctrl.loading.application && $state.is('applications.integrations')"></ng-include>

<ui-view>
    <div class="panel panel-default" ng-show="!$ctrl.loading.application">
        <div class="panel-heading" ng-include="'templates/settings_breadcrumbs.html'"></div>
        <div class="panel-body">

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'bitbucket'})">
                <span class="fa fa-fw fa-bitbucket fa-3x pull-left"></span>
                <strong>Bitbucket</strong>

                <p>Send issues and reports to Bitbucket</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'campfire'})">
                <span class="fa fa-fw fa-comment fa-3x pull-left"></span>
                <strong>Campfire</strong>

                <p>Receive reports and alerts in your Campfire rooms</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'flowdock'})">
                <span class="fa fa-fw fa-envelope fa-3x pull-left"></span>
                <strong>Flowdock</strong>

                <p>Receive reports and alerts on your Flowdock team
                    inbox</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'github'})">
                <span class="fa fa-fw fa-github fa-3x pull-left"></span>
                <strong>Github</strong>

                <p>Send issues and reports to Github</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'hipchat'})">
                <span class="fa fa-fw fa-comment fa-3x pull-left"></span>
                <strong>HipChat</strong>

                <p>Receive reports and alerts in your Hipchat chanels</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'jira'})">
                <span class="fa fa-fw fa-ticket fa-3x pull-left"></span>
                <strong>Jira</strong>

                <p>Send issues and reports to Jira</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'slack'})">
                <span class="fa fa-fw fa-comment fa-3x pull-left"></span>
                <strong>Slack</strong>

                <p>Receive reports and alerts in your Slack chanels</p>
            </a>

            <a class="btn btn-default integration"
               data-ui-sref="applications.integrations.edit({resourceId:$ctrl.resource.resource_id, integration:'webhooks'})">
                <span class="fa fa-fw fa-cloud-upload fa-3x pull-left"></span>
                <strong>Webhooks</strong>

                <p>Notify third party API's of your reports and alerts</p>
            </a>
        </div>
    </div>
</ui-view>
