<h2>AppEnlight quickstart</h2>

<p>
    <span class="point">1</span>
    For AppEnlight to operate, you need to
    <a data-ui-sref="applications.update({resourceId:'new'})" target="_blank"><strong>create an app profile</strong></a> that allows
    you to
    obtain an <strong>API key</strong> that one of the clients can use.
</p>

<div class="clear"></div>
<hr/>

<p>
    <span class="point">2</span>
    It is a good idea to configure an
    <a data-ui-sref="user.alert_channels.email" target="_blank">
        <strong>email alert channel</strong></a> that you can use to receive
    notifications about events that happen in your application.
</p>

<p>
    It can be the same email account you used to register withing AppEnlight -
    although we often recommend using a separate <em>errors@...</em> account
    designated for alert notifications.
</p>

<div class="clear"></div>
<hr/>

<p>
    <span class="point">3</span>
    In order for your application to stream meaningful information, you will need to
    integrate a compatible client for your language of choice.
</p>

<p>Head over to the <a href="{{AeConfig.urls.docs}}" target="_blank">
    <strong>developers section</strong></a> for information on currently available
    clients that you can plug into your software</p>
