{% extends "/layout.jinja2" %}
{% block ng_app %}{% endblock %}
{% block content %}

<div class="col-sm-offset-1 col-sm-10">

<div class="m-t-1 row">
    {{ widgets.render_flash_messages(flash_msgs) }}
</div>

<h1 class="page-title">{{_('Recover your password')}}</h1>
<form action="{{request.route_url('lost_password')}}" method="post" 
class="decorate" id="lost_password">
{{widgets.render_form(form)}}
</form>
</div>
{% endblock %}
