<ng-include src="'templates/loader.html'" ng-if="$ctrl.loading.password"></ng-include>

<div ng-show="!$ctrl.loading.password">

    <div class="panel panel-default">
        <div class="panel-heading" ng-include="'templates/user/breadcrumbs.html'"></div>
        <div class="panel-body">

            <form class="form-horizontal" name="$ctrl.passwordForm" ng-submit="$ctrl.updatePassword()">
                <div class="form-group" id="row-old_password">
                    <data-form-errors errors="$ctrl.passwordForm.ae_validation.old_password"></data-form-errors>
                    <label for="old_password" id="label-old_password" class="control-label col-sm-4 col-lg-3">
                        Old Password
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8 col-lg-9">
                        <input class="form-control" id="old_password" name="old_password" type="password" ng-model="$ctrl.form.old_password">
                    </div>
                </div>
                <div class="form-group" id="row-new_password">
                    <data-form-errors errors="$ctrl.passwordForm.ae_validation.new_password"></data-form-errors>
                    <label for="new_password" id="label-new_password" class="control-label col-sm-4 col-lg-3">
                        New Password
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8 col-lg-9">
                        <input class="form-control" id="new_password" name="new_password" type="password" ng-model="$ctrl.form.new_password">
                    </div>
                </div>
                <div class="form-group" id="row-new_password_confirm">
                    <data-form-errors errors="$ctrl.passwordForm.ae_validation.new_password_confirm"></data-form-errors>
                    <label for="new_password_confirm" id="label-new_password_confirm" class="control-label col-sm-4 col-lg-3">
                        Confirm Password
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8 col-lg-9">
                        <input class="form-control" id="new_password_confirm" name="new_password_confirm" type="password" ng-model="$ctrl.form.new_password_confirm">
                    </div>
                </div>
                <div class="form-group" id="row-submit">
                    <label for="submit" id="label-submit" class="control-label col-sm-4 col-lg-3"></label>
                    <div class="col-sm-8 col-lg-9">
                        <input class="form-control SubmitField btn btn-primary" id="submit" name="submit" type="submit" value="Change Password">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
