<div class="panel panel-default">
    <div class="panel-heading">Applications</div>
    <ul class="list-group">
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="applications.list"><span class="fa fa-cog"></span> List applications</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="applications.update({resourceId:'new'})"><span class="fa fa-plus-circle"></span> Create application</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="applications.purge_logs"><span class="fa fa-trash-o"></span> Purge logs</a></li>
    </ul>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <ul class="list-group">
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.profile.edit"><span class="fa fa-user"></span> Profile details</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.profile.password"><span class="fa fa-lock"></span> Change Password</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.profile.identities"><span class="fa fa-link"></span> External Identities</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.profile.auth_tokens"><span class="fa fa-unlock"></span> Auth Tokens</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Notifications</div>
    <ul class="list-group">
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.alert_channels.list"><span class="fa fa-bullhorn"></span> Alert channels</a></li>
        <li class="list-group-item" ui-sref-active-eq="active"><a data-ui-sref="user.alert_channels.email"><span class="fa fa-envelope"></span> Add email channel</a></li>
    </ul>
</div>