{% extends "/layout.jinja2" %}
{% set layout_disable_menu = True %}
{% block content %}
    <div class="col-sm-10 col-sm-offset-1" id="content">

    <span class="fa fa-ambulance" style="float: left; font-size: 666%; margin: 20px 20px"></span>
        <p class="heading-text"><strong>500:</strong> OMG!!! Internal Server Error </p>
    </div>
{% endblock %}
{% block section_name %}errorPage{% endblock %}
