<!-- Fixed navbar -->
<div id="top-navbar" class="navbar navbar-default navbar-fixed-top"
     role="navigation">
    <div class="pattern">
        <div class="container">
            <div class="navbar-header pull-left">
                <a href="{{ request.route_url('/') }}" class="navbar-brand">
                    <div id="logo-normal" class="hidden-sm hidden-xs"></div>
                    <div id="logo-icon" class="visible-sm visible-xs"></div>
                </a>
            </div>
            <div class="container-fluid">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="{{ request.route_url('register', _query={'sign_in':'1'}) }}"
                           target="_self"
                           class="btn btn-orange">{{ _('Sign In') }}</a></li>
                </ul>
            </div><!-- /.container-fluid -->
        </div>
    </div>
</div>
