{% extends "/layout_base.jinja2" %}

{% block outer_content %}
<!-- Begin page content -->
<div class="container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

{% endblock %}
